#modal-success {
    text-align: center;
    .modal-content {
        width: 35em;
        height: 20.3em;
        border-radius: 1.25em;
        padding-left: 1.7em;
        padding-right: 2.6em;
        padding-bottom: 2.5em;
        h5 {
            margin-top: 1.5em;
            font-weight: normal;
        }
        .circle-check {
            margin-bottom: 1.2em;
            width: 5em;
            height: 5em;
        }
        .modal-mail {
            background-color: $brand-blue_light;
            width: 29em;
            padding-top: 0.75em;
            padding-bottom: 0.2em;
            margin-bottom: 1em;
            font-weight: 300;
            span {
                font-weight: 500;
            }
        }
        .modal-button {
            font-size: 14px;
            border-radius: 0.5em;
            background-color: $brand-blue_main;
            color: #fff;
            width: 8em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;  
        }
    }  
}
#modal-indications {
    .modal-lg {
        max-width: 75em!important;
    }
    .modal-content {
        border-radius: 1.25em;
        padding: 1em;
        padding-top: 1.2em;
        .modal-body {
            padding-top: 0;
            h5 {
                padding-top: 0.5em;
                color: $brand-blue_dark;
                font-weight: 600;
                font-size: 24px;
                margin-bottom: 2em;
                span {
                    font-weight: 400;
                }
            }
            .close {
                font-weight: 400;
                font-size: 32px;
            }
            .progress-step {
                .progress-text {
                    padding-right: 9em;
                    font-size: 14px;
                    color: $gray_typo;
                }
            }
        }  
    }   
}