table{
  
  .table-header-order{
    background-color: $grey-background;
    color: $gray_typo;
    font-size: 12px;
    font-weight: 500;
    padding: 1em 1.2em;

    .icon_up{
      width: 10px;
      position: absolute;
      margin: 0 0.7em;
    }
    .icon_down{
      @extend .icon_up;
      top: 75px;
    }
  }
}