
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no"')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/libs/bootstrap.min.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous")
    title Connecting People

    
  body
    include ../components/header

    .row.fix-margin
      .col-3.fix-padding.display-content
        include ../components/sidebar
        include ../components/info-patients
      .col-9
        include ../components/container-box
          
    script(src="js/libs/jquery-3.3.1.min.js")
    script(src="js/libs/bootstrap.min.js")
    script(src="js/funciones.js")
 


   
    

