@import 'reset.scss';
@import 'var.scss';
@import 'mixing.scss';
@import 'mediaqueries.scss';
@import 'fonts.scss';

@import 'components/header.scss';
@import 'components/sidebar.scss';
@import 'components/info-patients.scss';


body {
    overflow-y: hidden;
}

.button {
    @include button;
}


.fix-margin {
    margin-right: 0!important;
}
.display-content {
    display: inherit;
}


/* * * ELEMENTOS BÁSICOS HTML * * */
