@import 'reset.scss';
@import 'var.scss';
@import 'mixing.scss';
@import 'mediaqueries.scss';
@import 'fonts.scss';

body {
    background-color: #fff;
    font-family: 'Montserrat' !important;
    overflow-y: hidden;
}

.no-padding{
    padding: 0 !important;
}

.button {
    @include button;
}

.fix-margin {
    margin-right: 0!important;
}
.display-content {
    display: inherit;
}

// Componentes

@import './components/tables-orders.scss';
@import './components/tables-exam.scss';
@import './components/accordion.scss';
@import './components/container-box.scss';
@import 'components/header.scss';
@import 'components/sidebar.scss';
@import 'components/info-patients.scss';
