.accordion_exam
  .accordion-item-exam
    .accordion-header-exam
      span(class="accordion-exam-title") Exámen de laboratorio de sangre
      span(class="accordion-exam-subtitle") Leer indicaciones
      img(src="./assets/icons/icon-mail.svg", class="icon_mail")
    .accordion-body-exam
      include table-exams
  .accordion-item-exam
    .accordion-header-exam
      span(class="accordion-exam-title") Endoscopia digestiva gastroscópica de mitad superior
      span(class="accordion-exam-subtitle") Leer indicaciones
      img(src="./assets/icons/icon-search.svg", class="icon_search")
      img(src="./assets/icons/icon-mail.svg", class="icon_mail")
    .accordion-body-exam
      include table-exams
  .accordion-item-exam
    .accordion-header-exam
      span(class="accordion-exam-title") Resonancia magnética espalda
      span(class="accordion-exam-subtitle") Leer indicaciones
      img(src="./assets/icons/icon-search.svg", class="icon_search")
      img(src="./assets/icons/icon-mail.svg", class="icon_mail")
    .accordion-body-exam
      include table-exams