.accordion_exam
  .accordion-item-exam
    .accordion-header-exam
      span(class="accordion-exam-title") Exámen de laboratorio de sangre
      span(class="accordion-exam-subtitle") Leer indicaciones
    .accordion-body-exam
      include tables.pug
  .accordion-item-exam
    .accordion-header-exam
      span(class="accordion-exam-title") Endoscopia digestiva gastroscópica de mitad superior
      span(class="accordion-exam-subtitle") Leer indicaciones
    .accordion-body-exam
      include tables.pug
  .accordion-item-exam
    .accordion-header-exam
      span(class="accordion-exam-title") Resonancia magnética espalda
      span(class="accordion-exam-subtitle") Leer indicaciones
    .accordion-body-exam
      include tables.pug