.accordion_multi
  .accordion-item
    input(id="tab_one" type="checkbox")
      label(for="tab_one")
        span(class="accordion-exam-title") Exámen de laboratorio de sangre
        span(class="accordion-exam-subtitle") Leer indicaciones
      .tab-content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.
  .accordion-item
    input(id="tab_two" type="checkbox")
      label(for="tab_two")
        span(class="accordion-exam-title") Exámen de laboratorio de sangre
        span(class="accordion-exam-subtitle") Leer indicaciones
      .tab-content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.
  .accordion-item
    input(id="tab_three" type="checkbox")
      label(for="tab_three")
        span(class="accordion-exam-title") Exámen de laboratorio de sangre
        span(class="accordion-exam-subtitle") Leer indicaciones
      .tab-content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.
    