.accordion
  .accordion-item
    .accordion-header
      span(class="accordion-header-title") Exámen de laboratorio de sangre
      span(class="accordion-header-subtitle") Leer indicaciones
    .accordion-body
      include tables.pug
  .accordion-item
    .accordion-header
      span(class="accordion-header-title") Endoscopia digestiva gastroscópica de mitad superior
      span(class="accordion-header-subtitle") Leer indicaciones
    .accordion-body
      include tables.pug
  .accordion-item
    .accordion-header
      span(class="accordion-header-title") Resonancia magnética espalda
      span(class="accordion-header-subtitle") Leer indicaciones
    .accordion-body
      include tables.pug
      