.container-box
  a(href="#" class="tab-button_todo active-tab")
    span Por agendar
  a(href="#" class="tab-button_ready")
    span Lo agendado
  .container-inner_todo
    include accordion-orders.pug
  .container-inner_ready
    include accordion-orders.pug