.container-box
  a(href="#" class="tab-button_todo active-tab")
    span Por agendar
  a(href="#" class="tab-button_ready")
    span Lo agendado
    .circle_magenta
  .container-inner_todo
    include table-orders
    //- include accordion-orders
  .container-inner_ready
    include tabla-sort