header  
    nav.header-navbar.navbar.navbar-expand-lg.navbar-light
        // Componente boton hamburguesa
        include ../components/button-burger
        img.img-brand(src="assets/imgs/brand-bupa.png", alt="img-brand") 
        h1.navbar-title Connecting People
        // Componente informacion y foto usuario
        include ../components/header-navbar-user 
        // Componente notificaciones
        include ../components/header-notifications
        // Componente menu-user
        include ../components/header-menu-user
        
