a(href="#")
    img.icon-arrow-left(src="assets/icons/icon-arrow-left-blue.svg", alt="")
img.icon-woman(src="assets/icons/icon-woman.svg", alt="")
a(href="#")
    img.icon-arrow-right(src="assets/icons/icon-arrow-right-blue.svg", alt="")