.patients-data
    h5.patients-name Francisca Andrea Velasco Ferrada
    p.patients-genre-age M | 30 años, 2 meses y 8 días
    p.patients-contact francisca.v@gmail.com
    p.patients-contact +569 6222 4567
    p.patients-rut RUT:  16.456.789-0
    p.patients-prevision Previsión: Isapre Cruz Blanca
    p.datos-paciente Datos paciente