nav.sidebar_background
    ul.sidebar-list-button
        li.list-button_home
            include ../components/sidebar-button-home
        li.list-button_patients
            include ../components/sidebar-button-patients
        li.list-button_promotions
            include ../components/sidebar-button-promotions