nav.sidebar_background
    ul.sidebar-list-button
        li.buttons-sidebar_home
            include ../components/sidebar-button-home
        li.buttons-sidebar_patients
            include ../components/sidebar-button-patients
        li.buttons-sidebar_promotions
            include ../components/sidebar-button-promotions