table
  thead
    tr
      th(class="table-header-order") Orden médica
        img(src="./assets/icons/icon-arrow-blue-top.svg", class="icon_up")
        img(src="./assets/icons/icon-arrow-blue-bottom.svg", class="icon_down")
      th(class="table-header-order") Fecha
        img(src="./assets/icons/icon-arrow-blue-top.svg", class="icon_up")
        img(src="./assets/icons/icon-arrow-blue-bottom.svg", class="icon_down")
      th(class="table-header-order") Médico
        img(src="./assets/icons/icon-arrow-blue-top.svg", class="icon_up")
        img(src="./assets/icons/icon-arrow-blue-bottom.svg", class="icon_down")
      th
  tbody(class="table-body-orders")
      
.accordion
  .accordion-item
    .accordion-header-orders
      span(class="accordion-header-title") Orden 1
      span(class="accordion-header-date") 22/02/18
      span(class="accordion-header-doctor") Dr. Fernando Arredondo Salgado
      span(class="accordion-header-patient") Paciente: Francisca Andrea Velasco Ferrada
      img(src="./assets/icons/icon-arrow-blue-top.svg", class="open-accordion")
    .accordion-body.accordion-body-orders
      include accordion-exam
  .accordion-item
    .accordion-header-orders
      span(class="accordion-header-title") Orden 2
      span(class="accordion-header-date") 24/02/18
      span(class="accordion-header-doctor") Dr. Elena San Martín Hidalgo
      span(class="accordion-header-patient") Paciente: Francisca Andrea Velasco Ferrada
      img(src="./assets/icons/icon-arrow-blue-top.svg", class="open-accordion")
    .accordion-body.accordion-body-orders
      include accordion-exam
  .accordion-item
    .accordion-header-orders
      span(class="accordion-header-title") Orden 3
      span(class="accordion-header-date") 27/02/18
      span(class="accordion-header-doctor") Dr. Rodrigo Miranda Caballero
      span(class="accordion-header-patient") Paciente: Francisca Andrea Velasco Ferrada
      img(src="./assets/icons/icon-arrow-blue-top.svg", class="open-accordion")
    .accordion-body.accordion-body-orders
      include accordion-exam