table(id="table-sort")
  thead
    tr
      th(class="table-header", data-sort="string") Orden médica
      th(class="table-header", data-sort="string") Fecha
      th(class="table-header", data-sort="string") Médico
      th
  tbody(class="table-body-orders")
    tr
      td(class="table-body_order") Orden 1
      td(class="table-body_date") 22/02/18
      td(class="table-body_doctor") Dr. Fernando Arredondo Salgado
      td(class="table-body_patient") Paciente: Francisca Andrea Velasco Ferrada
    tr
      td(class="table-body_order") Orden 2
      td(class="table-body_date") 24/02/18
      td(class="table-body_doctor") Dr. Elena San Martín Hidalgo
      td(class="table-body_patient") Paciente: Francisca Andrea Velasco Ferrada
    tr  
      td(class="table-body_order") Orden 3
      td(class="table-body_date") 27/02/18
      td(class="table-body_doctor") Dr. Rodrigo Miranda Caballero
      td(class="table-body_patient") Paciente: Francisca Andrea Velasco Ferrada