table
  thead
    tr
      th(class="table-header") Prestador
      th(class="table-header") Próxima hora
      th(class="table-header") Copago
      th(class="table-header") Médico
  tbody(class="table-body")
    tr
      td
        span(class="table-typo_strong") Integramédica Manquehue
        span(class="table-typo-light_blue_link") Av. Manquehue 123, Las Condes
      td
        span(class="table-typo_strong") 10:15 am
        span(class="table-typo-light_blue_dark") 05/05/2018
      td 
        span(class="table-typo-light_blue_dark") $48.500
      td
        span(class="table-typo-light_blue_dark") Eduardo Navarro Alarcón
    tr  
      td
        span(class="table-typo_strong") Integramédica Las Condes
        span(class="table-typo-light_blue_link") Las Condes 123, Las Condes
      td
        span(class="table-typo_strong") 11:15 am
        span(class="table-typo-light_blue_dark") 05/05/2018
      td 
        span(class="table-typo-light_blue_dark") $58.500
      td
        span(class="table-typo-light_blue_dark") María Nuñez Muñoz
    tr
      td
        span(class="table-typo_strong") Clínica Bupa Santiago
        span(class="table-typo-light_blue_link") Av. La Florida 123, La Florida
      td
        span(class="table-typo_strong") 11:00 am
        span(class="table-typo-light_blue_dark") 05/05/2018
      td 
        span(class="table-typo-light_blue_dark") $40.500
      td
        span(class="table-typo-light_blue_dark") Pedro Hidalgo Pino