table
  thead
    tr
      th(class="table-header") Orden médica
      th(class="table-header") Fecha
      th(class="table-header") Médico
  tbody(class="table-body-orders")
  .accordion
    .accordion-item
    tr.accordion-header-orders
      td(class="accordion-header-title") Orden 1
      td(class="accordion-header-date") 22/02/18
      td(class="accordion-header-doctor") Dr. Fernando Arredondo Salgado
      td(class="accordion-header-patient") Paciente: Francisca Andrea Velasco Ferrada
      .accordion-body.accordion-body-orders
        include accordion-exam
    tr
      td
        .accordion
          .accordion-item
            .accordion-header.active-accordion-orders
              span(class="accordion-header-title") Orden 2
              span(class="accordion-header-date") 24/02/18
              span(class="accordion-header-doctor") Dr. Elena San Martín Hidalgo
              span(class="accordion-header-patient") Paciente: Francisca Andrea Velasco Ferrada
            .accordion-body.accordion-body-orders
              include accordion-exam
    tr  
      td
        .accordion 
            .accordion-item
              .accordion-header.active-accordion-orders
                span(class="accordion-header-title") Orden 3
                span(class="accordion-header-date") 27/02/18
                span(class="accordion-header-doctor") Dr. Rodrigo Miranda Caballero
                span(class="accordion-header-patient") Paciente: Francisca Andrea Velasco Ferrada
              .accordion-body.accordion-body-orders
                include accordion-exam