.ultima-consulta
    .patients-background_grey
        h6 Última consulta 
    .info-ultima-consulta
        p.date #{lastDate}
        p.doctor #{nameDoctor}
        p.especiality #{especiality}
    